 dd{
    margin: 0;
}
body{
    max-width: 900px;
    margin:  2em auto;
    border: 0 solid #ccc;
    color: #666;
}

header{
    width: 10em;
    height: 850px;
    background-color:#68a5fb;
    float: left;
    color: #fff;
    text-align: center;
}
main{
    margin-left: 11em;
    overflow: hidden;
}
dt{
    font-weight: bold;
}
.basic dt ,.contact dt{
    float: left;
    margin-right : 0.7em;
}
.basic dd ,.contact dd{
    float: left;
    margin-right: 4em;
}
dl{
        line-height: 2em;
        overflow: hidden;
}
