dd{
    margin: 0 ;
}
header{
    background-color: #2c270b3d;
    text-align: left;
}
dl{
    line-height: 2em;
    overflow: hidden;
}
.title{
    background-color:#d6d6d6;
    float: left; 
}
.title,dl{
    margin-bottom:-600px;
    padding-bottom:600px;  
}

dt{
    font-weight: bold;
}

body{
    max-width: 800px;
    margin: 2em auto; 
    border: 1px solid white;
}
.basic dt,.contact dt{
    float: left;
    margin-right: .7em;
}
.basic dd, .contact dd{
    float: left;
    margin-right: 4em;
}
article{
    margin-buttom:1px solid black;  
}
