html,body,h1,a,li{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background: #333;
}
.parent{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
h1 a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 1em 1em 1em 0;            
}
.content{
    position: absolute;
    right: 0;
    top: .5em;
}
.content a{
    color: #fff;
    text-decoration: none;
    margin-right: 0.5em;
}

.banner{
    background-color: #67bb31;
    height: 20em;
}
.banner ul{
    list-style: none;
    position: absolute;
    right:0;
    top: 200px;
}
.banner ul li{
    float: left;
}
.banner ul li a{
    color: white;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    text-decoration: none;
}
nav{
    
    border-bottom:1px solid #ccc; 
}
nav ul{
    overflow: hidden;
}
nav ul li {
    list-style: none;
    float: left;
    padding-right:2em; 
}
nav ul li a{
    text-decoration: none;
}
.content-top{
    overflow: hidden;
}
.content-top .content-a{
    float: left;
    border: 1px solid #ccc;
    padding: 4em;
    margin-top: 2em;
    margin-right:2em; 
}
.content-center{
    overflow: hidden;
}
.content-center .content-b{
    float: left;
    border: 1px solid #ccc;
    padding: 2em;
    margin-top: 2em;
    margin-right:2em; 
}
.content-bottom{
    overflow: hidden;
}
.content-bottom .content-a{
    float: left;
    border: 1px solid #ccc;
    padding: 4em;
    margin-right:2em; 
    margin-top: 2em;
    margin-bottom:2em; 
}
.footer{
    background:#666; 
    height: 100px; 
}
.footer .parent{
    color: white;
    padding-top:10px; 
    text-align: center;
}
